@charset "UTF-8";


table {
	border-collapse: collapse;
	border-spacing: 0;
}


.welcome{
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 0;
}

a{
	color: green;
	
}

a:hover {
	color : green;
	cursor: pointer;
	text-decoration: underline;
}


